{% extends 'base.html.twig' %}

{% block title %}Hello RoomController!{% endblock %}

{% block body %}

    <turbo-frame id="room_list">
        <div class="p-2">
            <h3>Chat rooms</h3>

            <ul>
                {% for room in rooms %}
                    <li>
                        <a href="{{ url('rooms_see', {id: room.id}) }}" data-turbo-frame="_top">
                            {{ room.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <div>
                <h4>Add a room</h4>
                {% include 'room/_form.html.twig' with { form: form } %}
            </div>
        </div>
    </turbo-frame>
{% endblock %}
