{% extends 'base.html.twig' %}

{% block title %}Welcome to turbo-slack!{% endblock %}

{% block body %}

    <turbo-frame id="room_list">
        <div class="p-2">
            <h3>Chat rooms</h3>

            <div class="list-group">
                {% for room in rooms %}
                    <a class="list-group-item" href="{{ url('rooms_see', {id: room.id}) }}" data-turbo-frame="_top">
                        {{ room.name }}
                    </a>
                {% endfor %}
            </div>

            <br />
            <h4>Add a room</h4>
            {% include 'room/_form.html.twig' with { form: form } %}
        </div>
    </turbo-frame>
{% endblock %}
