{% extends 'base.html.twig' %}

{% block body %}
<div>
    <a href="{{ url('rooms') }}">
        Back to rooms
    </a>
    <h1>{{ room.name }}</h1>

    <turbo-frame id="messages" target="_top">
        {% for message in room.messages %}
            {% include 'message/_message.html.twig' with { message: message } %}
            <hr>
        {% endfor %}

        <div>
            {% include "message/_form.html.twig" with { form: form } %}
        </div>
    </turbo-frame>

</div>
{% endblock %}

{% block title %}
    Room -  {{ room.name }}
{% endblock %}
